{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} {{ block.super }} - Editar Perfil {% endblock title %}
{% block body %}
<div class="container">
    <h1>Editar Perfil</h1>

    <form method='post'>
        {% csrf_token %}
        <div class="form-group">
            <label for="">Nome</label>
            {{ form.first_name|add_class:'form-control' }}
        </div>

        {% if form.first_name.errors %}
        <div class="form-group">
            <div class="alert alert-warning" role="alert">
                {{ form.first_name.errors.as_text }}
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <label for="">Sobrenome</label>
            {{ form.last_name|add_class:'form-control' }}
        </div>

        {% if form.last_name.errors %}
        <div class="form-group">
            <div class="alert alert-warning" role="alert">
                {{ form.last_name.errors.as_text }}
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <label for="">E-mail</label>
            {{ form.email|add_class:'form-control' }}
        </div>

        {% if form.email.errors %}
        <div class="form-group">
            <div class="alert alert-warning" role="alert">
                {{ form.email.errors.as_text }}
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <button type='submit' class="btn btn-primary">Atualizar</button>
        </div>
    </form>
</div>
{% endblock body %}