[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
django = "*"
"psycopg2-binary" = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.5"
